<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MedAnalise</title>
    <link rel="stylesheet" href="/assets/css/LogonMenu.css">
    <link rel="stylesheet" href="/assets/css/container-errors.css">
</head>

<body>

<div class="auth-block">
    <h2>Система учета и диагностики общего анализа урины</h2>
    <input id="usernameInput" type="text" placeholder="Имя пользователь">
    <input  id="passwordInput" type="password" placeholder="Пароль">
    <button onclick="onSignIn()">Войти</button>
</div>

<div id="container-notify"></div>

<script src="/assets/js/BroadcastJson.js"></script>
</body>

</html>