<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/LogonMenu.css">
    <title>MedAnalise</title>
</head>

<body>

<div id="SignInForm">
    <div class="screen-1 contol-grid-row">
        <label class="main-logo" >(Название организации?)</label>
        <div class="login-matgin">
            <label>Логин</label>
            <input id="usernameInput" type="text"><br>
        </div>

        <div class="Password-margin">
            <label>Пароль</label>
            <input  id="passwordInput" type="password"><br>
        </div>
        <button class="enter-button" onclick="onSignIn()">Войти</button>
        <div class="error-div-message" id="errorMessage"></div>

    </div>

</div>

<script src="/assets/js/BroadcastJson.js"></script>





</body>

</html>