<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/MainPageAnalise.css">
</head>

<body>
<header class="main-title">
    <h1>Поиск по пациенту</h1>
    <input type="text" id="searchInput">
    <button onclick="exit()" id="buttonExit">Выйти</button>



</header>






<div class="page-block">
    <div class="users">
        <label for="userSelect">Пациенты</label>
        <select class="select-user" id="userSelect"></select>
    </div>
    <div class="page-block-analise" id="AnaliseBlock"></div>
</div>

<script src="/assets/js/BroadcastJson.js"></script>
</body>




