@font-face {
    font-family: "SF";
    src: url(/assets/css/Font/SFProText-Regular.ttf);
}

* {
    font-family: "SF", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #1d1d2a;
}

.auth-block {
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: #e7e7e7;
    background: #272738;
    border: 1px solid #4d4d4d;
}

.auth-block > h2 {
    padding-bottom: 20px;
    margin: 0;
}

.auth-block > input {
    outline: none;
    border: 1px solid #696969;
    color: #e7e7e7;
    background: #272738;
    padding: 8px;
    margin: 10px 0;
}

.auth-block > button {
    color: #c2c1c1;
    background: #272738;
    margin-top: 14px;
    padding: 12px 14px;
    border: 1px solid #a1a1a1;
    transition: all .1s ease-in-out;
}

.auth-block > button:hover {
    cursor: pointer;
    background: #1d1d2a;
}
